@media  screen and (max-width: 1110px) {
    .recently-played{
        flex-wrap: wrap;
    }
    .brano{
        width: calc(100% / 4 - 15px);
    }

    
}

@media screen and (max-width: 768px){

    .brano{
        width: calc(100% / 2 - 15px);
    }


}