/* GENERIC */

*{
    box-sizing: border-box;
    margin: 0;
padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.big-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #606060;
}


/* UTLITY */

.clr-white{
    color: white;
}

/* MAIN */

main{
    height: 90%;
    display: flex;
}

/* NAV */

nav{
    width: 230px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 5px 20px;
}


.nav-button > *{
    margin: 10px 0px;
}

.logo{
    width: 150px;
}

.nav-button img{
    width: 30px;
    color: #606060;
    vertical-align: middle;
}

/* playlist */

.playlist{
    margin-top: 15px;
}

.playlist ul li{
    list-style-type: none;
    margin: 15px 0;
    font-size: 0.8rem;
}

#create-playlist{
    font-size: 1rem;
}

/* download and user profile */

.download{
    padding-bottom: 10px;
    border-bottom: 1px solid #404040;
    margin-bottom: 20px;
}

.download img{
    width: 12px;
}

.user-profile img{
    width: 25px;
    background-color:#808080;
    border-radius: 50%;
    vertical-align: middle;
}

/* CONTENT */

.content{
    background-color: #141922;
    width: calc(100% - 230px);
    overflow-y:auto;
}

/* upgrade section */

.upgrade{
    height: 100px;
    background-color: rgba(0,0,0,0.5);
    text-align: right;
   }

.upgrade-btn a{
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px 30px;
    vertical-align: middle;
    line-height: 100px;
    vertical-align: middle;
    margin-right: 10px;
}

/* FOOTER */

footer{
    height: 10%;
    background-color: #282828;
}

.player{
    display: flex;
    justify-content: space-between;
}

.left-item{
    display: flex;
    padding: 20px 10px;
    align-items: center;
}

.left-item > *{
    margin: 0px 10px;
}

.left-item img{
    width: 50px;
}

/* HOVER */
a:hover{
    color: white;
}
