/* GENERIC */

*{
    box-sizing: border-box;
    margin: 0;
padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.big-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #606060;
}

/* UTLITY */

.clr-white{
    color: white;
}

.m-btm-30{
    margin-bottom: 30px;
}

.brd-radius50{
    border-radius: 50%;
}

/* MAIN */

main{
    height: calc(100vh - 100px);
    display: flex;
}

/* upgrade section */

.upgrade{
    flex-basis: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    position: fixed;
    width: calc(100% - 230px);
    z-index: 50;
   }

.upgrade-btn a{
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px 30px;
    margin: 20px 30px;
    display: inline-block;
}


/* NAV */

nav{
    width: 230px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 5px 20px;
}


.nav-button > *{
    margin: 10px 0px;
}

.logo{
    width: 150px;
}

.nav-button img{
    width: 30px;
    color: #606060;
    vertical-align: middle;
}

/* playlist */

.playlist{
    margin-top: 15px;
}

.playlist ul li{
    list-style-type: none;
    margin: 15px 0;
    font-size: 0.8rem;
}

#create-playlist{
    font-size: 1rem;
}

/* download and user profile */

.download{
    padding-bottom: 10px;
    border-bottom: 1px solid #404040;
    margin-bottom: 20px;
}

.download img{
    width: 12px;
}

.user-profile img{
    width: 25px;
    background-color:#808080;
    border-radius: 50%;
    vertical-align: middle;
}

/* CONTENT */

.content{
    background-color: #141922;
    width: calc(100% - 230px);
    overflow-y:auto;
}

.main-content{
    padding: 20px;
    margin-top: 100px;
}

/* category */

.category ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 20px;
}

.category ul li{
    margin: 10px 15px;
}

.category li a{
    position: relative;
    font-size: 0.8rem;
    font-weight: 700;
}

.category li #evidence:after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  border-bottom: 2px solid #9ae22d;
}

/* song container */

.song-container{
    display: flex;
    flex-direction: column;
}


.song-container h3,
.song-container p{
    font-size: 0.8rem;
}


.brano{
    width: calc(100% / 6);
    text-align: center;
    margin-right: 15px;
    margin-bottom: 10px;
}

.brano img{
    width: 100%;
}

.song-container p{
    color: #606060;
    font-weight: 600;
}

.recently-played,
.createforyou,
.popular-artist{
    display: flex;
    margin-bottom: 45px;
}

.album-img{
    position: relative;
}

.play-song{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    display: none;
}

/* FOOTER */

footer{
    flex-basis: 100%;
    background-color: #282828;
}

.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left side */

.left-item,
.right-item{
    display: flex;
    padding: 20px 10px;
    align-items: center;
}

.left-item > *,
.right-item > *{
    margin: 0px 10px;
}

.left-item img{
    width: 50px;
}

/* center player*/

.center-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-items{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.upper-items a{
    color: white;
    margin: 0px 15px;
}

.bottom-items{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.progress-bar{
    flex-shrink: 0;
    margin: 0px 15px;
    width: 400%;
    height: 4px;
    background-color: #5a5a5a;
    border-radius: 10px;
}

.progress-song{
    position: relative;
    width: 25%;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 10px;
}

footer .fa-play-circle{
    font-size: 30px;
}


/* right side */

.right-item{
    color: white;
    justify-content: flex-end;
}

.volume{
    flex-shrink: 0;
    width: calc(100% - 54px);
    height: 4px;
    background-color: #5a5a5a;
    border-radius: 10px;
}

.volume-stats{
    position: relative;
    width: 20%;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 10px;
}

.pointer{
    position: absolute;
    right: -5px;
    top: -5px;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
}


/* HOVER */
a:hover{
    color: white;
}

.volume:hover .volume-stats{
    background-color: lightgreen;
}

.volume:hover .pointer{
    display: block;
}

.progress-bar:hover .progress-song{
    background-color: lightgreen;
}

.progress-bar:hover .pointer{
    display: block;
}

.album-img:hover img{
    opacity: 0.5;
}

.album-img:hover .play-song{
    display:block;
}

.upgrade-btn:hover a{
    transform: scale(1.2);
}

#songname a:hover{
    text-decoration: underline;
}